<!DOCTYPE html>
<html>

  <head>
      <style>
      body
      {
        background-color: skyblue;
        padding-top: 65px;
      }

      </style>
  </head>

<body>
        <% include partials/nav.ejs %>
        <h1><b>Attendance has been taken successfully!!!</b></h1>


</body>

</html>
